html, body {
    margin: 0;
    height: 100%;
}

.ui.container {
    margin-top: 100px;
}

.header {
    font-size: 18pt;
}

.package * {
    font-size: 14pt;
}

a {
    color: #aa7ba7;
}

.packagedesc:hover {
    color: #5e5184;
    cursor: pointer;
}

.search-box {
    width: 40%;
    position: fixed !important;
    right: 0 !important;
}

.select-only {
    float: right;
    cursor: pointer;
}

#field-includes {
    left: -120px!important;
}

tr:hover {
    cursor: pointer;
}
